<!DOCTYPE html>
<html>
  <body>
    <h1> Virus Finder </h1>
    <form method="POST" action="/">
      <input type="text" name="sequence">
      <input type="submit" value="Search">
    </form>
    {% if exact %}
    <h3> Exact Matches: {{exact|length}} </h3>
    <div id="results">
      {% for virus in exact %}
      <div id="virus">
        {{virus[0]}}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% if hamming %}
    <h3> Hamming Matches: {{hamming|length}} </h3>
    <div id="results">
      {% for virus in hamming %}
      <div id="virus">
        {{virus[0]}}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% if edit %}
    <h3> Edit Matches: {{edit|length}} </h3>
    <div id="results">
      {% for virus in edit %}
      <div id="virus">
        {{virus[0]}}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </body>
</html>

<style type='text/css'>
  body {
    margin-left: 5%;
    font-family: "Noto Sans";
    margin-bottom: 100px;
    color: #260021;
  }
  h1{
    font-family: "Andale Mono";
  }
    #results {
        width:95%;
        height: 300px;
        overflow: scroll;
    }
    #virus {
      background-color: rgba(189, 204, 222, .4);
      color: #260021;
      padding-left: 3px;
      padding-right: 1px;
      margin-top: 10px;
    }
</style>
